<h1> Links </h1>

<form action="/links/new">
  <input type="submit" value="Create New Bookmark">
</form>
<br />
<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <%= link.url   %>
    </li>
  <% end %>
</ul>

<form action="/tags/:name" method="post">
  <label for="name">
    <input type="text" name="name">
  </label>
      <input type="submit" value="Filter">
</form>
