<!DOCTYPE html>
<html>
  <head>
    <title>A Lovely Bookmark Manager</title>
  </head>

  <body>
    <% if current_user %>
      <h1> Welcome, <%= current_user.first_name %> </h1>
    <% end %>
    <% if flash[:differents_passwords] %>
      <div id='notice'> <%= flash[:differents_passwords] %> </div>
    <% end %>
    <%= yield %>
  </body>
</html>
