<!DOCTYPE html>
<html>
  <head>
    <title>Amazing Bookmark Manager</title>
  </head>

  <body>
    <% if current_user %>
      WELCOME, <%= current_user.first_name %>
    <% end %>
    <%= yield %>
  </body>
</html>
